PORT=the port thet the server listening
MONGO_URL = the url to connect to the database
MONGO_DB = the name of the mongo database
SUPABASE_URL = the url to connect to the supabase database
API_KEY = the api key also to connect to the supabase database